<section class="crumina-module crumina-clients">
  <div class="container">
    <div class="row">
      <div class="col col-xl-3 m-auto col-lg-3 col-md-6 col-sm-6 col-6">
        <h2 class="title animated-text">
          <i class="fas fa-angle-double-left"></i>
          <span>A</span>
          <span>c</span>
          <span>c</span>
          <span>u</span>
          <span>r</span>
          <span>a</span>
          <span>c</span>
          <span>y</span>
          <i class="fas fa-angle-double-right"></i>
        </h2>
      </div>
      <div class="col col-xl-3 m-auto col-lg-3 col-md-6 col-sm-6 col-6">
        <h2 class="title animated-text">
          <i class="fas fa-angle-double-left"></i>
          <span>A</span>
          <span>g</span>
          <span>i</span>
          <span>l</span>
          <span>i</span>
          <span>t</span>
          <span>y</span>
          <i class="fas fa-angle-double-right"></i>
        </h2>
      </div>
      <div class="col col-xl-3 m-auto col-lg-3 col-md-6 col-sm-6 col-6">
        <h2 class="title animated-text">
          <i class="fas fa-angle-double-left"></i>
          <span>C</span>
          <span>o</span>
          <span>l</span>
          <span>l</span>
          <span>a</span>
          <span>b</span>
          <span>o</span>
          <span>r</span>
          <span>a</span>
          <span>t</span>
          <span>i</span>
          <span>o</span>
          <span>n</span>
          <i class="fas fa-angle-double-right"></i>
        </h2>
      </div>
      <div class="col col-xl-3 m-auto col-lg-3 col-md-6 col-sm-6 col-6">
        <h2 class="title animated-text">
          <i class="fas fa-angle-double-left"></i>
          <span>P</span>
          <span>r</span>
          <span>o</span>
          <span>d</span>
          <span>u</span>
          <span>c</span>
          <span>t</span>
          <span>i</span>
          <span>v</span>
          <span>i</span>
          <span>t</span>
          <span>y</span>
          <i class="fas fa-angle-double-right"></i>
        </h2>
      </div>
    </div>
  </div>
</section>

<section class="align-center pt80 section-move-bg-top img-scale-animation">
  <div class="container">
    <div class="row">
      <div class="col col-xl-10 m-auto col-lg-10 col-md-12 col-sm-12 col-12">
        <img
            class="main-img"
            src="https://smart-scrum-poker-static.s3.us-east-1.amazonaws.com/logos/home_page_example.png"
            alt="screen"
            data-aos="zoom-in-down"
            data-aos-delay="200"
            data-aos-duration="500"
        >
      </div>
    </div>

    <img
        class="first-img1"
        alt="img"
        src="https://smart-scrum-poker-static.s3.us-east-1.amazonaws.com/logos/home_complexity_example.png"
        data-aos="zoom-in-down"
        data-aos-delay="700"
        data-aos-duration="500"
    >
    <img
        class="second-img1"
        alt="img"
        src="https://smart-scrum-poker-static.s3.us-east-1.amazonaws.com/logos/home_onlines_example.png"
        data-aos="zoom-in-down"
        data-aos-delay="1000"
        data-aos-duration="500"
    >
    <img
        class="third-img1"
        alt="img"
        src="https://smart-scrum-poker-static.s3.us-east-1.amazonaws.com/logos/home_vote_done_example.png"
        data-aos="zoom-in-down"
        data-aos-delay="1300"
        data-aos-duration="500"
    >
  </div>
  <div class="content-bg-wrap bg-section2"></div>
</section>

<section class="medium-padding120">
  <div class="container">
    <div class="row">
      <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <img loading="lazy" src="/assets/img/icon-fly.png" alt="screen">
      </div>

      <div class="col col-xl-4 col-lg-4 m-auto col-md-12 col-sm-12 col-12">
        <div class="crumina-module crumina-heading">
          <h2 class="heading-title"><span class="c-primary">Smarter Estimations for Agile Teams</span></h2>
          <p class="heading-text">
            Traditional planning poker relies on Fibonacci numbers, but software development is rarely that simple. Our
            Scrum Poker approach redefines estimation by focusing on what truly matters: Uncertainty, Complexity, and
            Effort.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="medium-padding120">
  <div class="container">
    <div class="row">
      <div class="col col-xl-4 col-lg-4 m-auto col-md-12 col-sm-12 col-12">
        <div class="crumina-module crumina-heading">
          <h2 class="heading-title">
            <span class="c-primary">Instead of arbitrary numbers</span>,
            team members assign tasks based on three clear categories
          </h2>
          <p class="heading-text">
            With just three intuitive options—Small, Medium, and Big—teams can quickly align on estimates, reduce bias,
            and improve planning accuracy. Say goodbye to misleading numbers and hello to meaningful discussions!
          </p>
        </div>
      </div>

      <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <ul class="card-type-list">
          <li>
            <svg><use xlink:href="#olymp-check-icon"></use></svg>
            <h4>Uncertainty – How well do we understand the task?</h4>
          </li>
          <li>
            <svg><use xlink:href="#olymp-check-icon"></use></svg>
            <h4>Complexity – How intricate is the implementation?</h4>
          </li>
          <li>
            <svg><use xlink:href="#olymp-check-icon"></use></svg>
            <h4>Effort – How much work is required?</h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
