<!--<div class="fixed-sidebar fixed-sidebar-responsive">-->
<!--&lt;!&ndash; ... end Fixed Sidebar Left &ndash;&gt;-->

<!-- Fixed Sidebar Right -->
<div class="fixed-sidebar right">
    <div class="fixed-sidebar-right sidebar--small" id="sidebar-right">
        <div class="mCustomScrollbar" data-mcs-theme="dark">
            <ul
                class="chat-users"
            >
                <li
                    class="inline-items js-chat-open"
                >
                    <a routerLink="/" class="author-thumb">
                        <img alt="author" src="" class="avatar"/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- /Fixed Sidebar Right -->


<!-- Fixed Sidebar Right-Responsive -->
<!--<div class="fixed-sidebar right fixed-sidebar-responsive" id="sidebar-right-responsive">-->
<!--</div>-->
<!-- /Fixed Sidebar Right-Responsive -->
