<div class="container">
  <div class="row">

    <div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
      <div class="ui-block">
        <div class="ui-block-title">
          <h3 class="title">Create new user</h3>
        </div>
        <div class="ui-block-content">

          <form
              [formGroup]="form"
              (ngSubmit)="onSubmit()"
          >
            <div class="row">
              <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
                <!--                                *ngIf="formType === formTypeEnum.EDIT || formType === formTypeEnum.VIEW"-->
                <!--                                [ngClass]="{'has-error': hasValidationError('name')}"-->
                <div
                    class="form-group"
                >
                  <label for="userName" class="control-label">Enter an insecure user name</label>
                  <input
                      formControlName="userName"
                      type="text"
                      class="form-control"
                      id="userName"
                      placeholder="User name"
                  >
                  <div class="row">
                    <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
                      <button type="submit" class="btn btn-primary btn-lg full-width">Create</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
