<div class="container">
  <div class="row">
    <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
      <button
          (click)="toggleOpenState()"
          class="btn btn-primary"
      >+1 ticket
      </button>
    </div>
  </div>
  @if (isOpen) {
    <div class="row">
      <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

        <div class="ui-block">
          <div class="ui-block-title btn-primary">
            <h6 class="title c-white">New ticket name</h6>
          </div>
          <div class="ui-block-content">

            <form
                [formGroup]="form"
                (ngSubmit)="onSubmit()"
            >
              <div class="row">
                <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
                  <div
                      class="form-group"
                  >
                    <label for="ticketName" class="control-label">Enter a new ticket name</label>
                    <input
                        formControlName="ticketName"
                        type="text"
                        class="form-control"
                        id="ticketName"
                        placeholder="Ticket name"
                    >
                    <div class="row">
                      <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
                        <button type="submit" class="btn btn-primary btn-lg full-width">Create</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  }
</div>
