@if (state.openedTicketId==ticket.id) {
  <div class="container">
    <div class="row gx-1">
      @for (user of state.userProfiles; track user.userId) {
        <div
            class="col-lg-3 col-md-6"
        >
          <div class="ui-block">
            <div class="birthday-item inline-items" style="overflow: hidden">
              <div class="birthday-author-name">
                <span class="h6 author-name">{{ user.userNick }}</span>
                <div class="birthday-date">{{ getVoteState(user.userId, ticket.id) }}</div>
              </div>
              <h2 class="btn btn-sm bg-blue" style="position: absolute;right: 20px;top: 5px;font-size: 20px">
                  {{ getCalculatedPoint(ticket.id, user.userId) }}
              </h2>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
}
