<div class="row justify-content-center">
  @for (category of voteConfig; track category) {
    <div class="col col-lg-3 col-md-4 col-sm-6 col-12">
      @for (buttonConfig of (category | keyvalue); track buttonConfig.key) {
        <ng-container>
          <h3 class="text-center">{{ voteTypeIdMap[buttonConfig.key] }}</h3>
          @for (option of (asStringNumberRecord(buttonConfig.value) | keyvalue:compareKeys); track option.key) {
            <button
                (click)="setVote(buttonConfig.key, option.value)"
                [ngClass]="getButtonClass(buttonConfig.key, option.value)"
                class="btn btn-lg w-100 mb-2"
            >
              {{ option.key }}
            </button>
          }
        </ng-container>
      }
    </div>
  }
  <!--  <button class="btn btn-primary btn-lg" style="width: 100%" *ngIf="isVoteSendable()" (click)="send()">-->
  @if (isVoteSendable()) {
    <button class="btn btn-primary btn-lg" style="width: 100%" (click)="send()">
      VOTE
    </button>
  }
