<section class="medium-padding120 bg-body contact-form-animation">
  <div class="container">
    <div class="row">
      <div class="col col-xl-10 col-lg-10 col-md-12 col-sm-12  m-auto">
        <div class="contact-form-wrap">
          <div class="contact-form-thumb">
            <h2 class="title">SEND US <span>A Review</span></h2>
            <p>Got a question, suggestion, or bug to report?</p>
            <p>We'd love to hear from you — drop us a message anytime.</p>
            <p><strong>Warn: messages are handled by getform.io</strong></p>
          </div>
          <form action="https://getform.io/f/broyklwa" method="POST" class="contact-form">
            <div class="row">
              <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="form-group label-floating">
                  <label class="control-label">Name</label>
                  <input name="name" class="form-control" placeholder="" type="text">
                </div>
                <div class="form-group label-floating">
                  <label class="control-label">Your Email</label>
                  <input name="email" class="form-control" placeholder="" type="email">
                </div>
                <div class="form-group">
                  <textarea name="message" class="form-control" placeholder="Your Message"></textarea>
                </div>
                <button class="btn btn-purple btn-lg full-width">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="half-height-bg bg-white"></div>
</section>
